html{
    background: rgb(132, 217, 238);
}
.red-text{
    color: red;
}

#main{
    
    color: blue;
}

p[draggable]{
    color: brown
}

* {
    color:beige;
}
/*this star will enable all elements to follow the style where 
style class is active if nothing else is specified*/
/*can check the para file*/
