.color-title {
    font-style: normal;
    font-size:18px;
}

#red {
    color: red;
}
#blue {
    color: blue;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
#purple {
    color: purple;
}
#orange {
    color: orange;
}
#pink {
    color: pink;
}
#brown {
    color: brown;
}
#gray {
    color: gray;
}
#black {
    color: black;
}
#white {
    color: black
}
#gold{
    color: gold;
}

#Mehak{
    color: rgb(245, 110, 133);
}

img{
    width: 200px;
    height: 200px;
}